body {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.8em;
	line-height: 1.6em;
	font-style: normal;
	font-weight: 400;
}
main {
	width: 500px;
	margin: 0 auto;	
}
h2 {
	font-size: 1.4em;
	color: #CC1C0D;
	font-weight: bold;
	text-shadow: 3px 3px 5px #7D7D7D;
	text-transform: uppercase;
	font-family: Algerian, Impact, Mistral, serif;
}
header {
	height:	120px;
	text-align:	center;
}
