@charset "utf-8";
body {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #DFE3E6;
}
h1 {
	color: #CC1C0D;
}
h2 {
	color: #1E5BAC;
	font-size: 160%;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	text-shadow: 0.1em 0.1em 0em hsla(5,86%,64%,1.00);
}
footer {
	text-align: center;
}
main {
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
	background-color: white;
}
nav a {
	margin-right: 30px;
	margin-left: 0px;
	text-decoration: none;
	font-weight: bold;
	color: #CB1E0F;
	font-size: 120%;
	font-family: Verdana, Arial, sans-serif;
}
p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0em;
	margin-left: 0px;
	line-height: 1.4em;
}
.indent {
	text-indent: 5%;
}
nav {
	text-align: center;
}
