@charset "utf-8";
html {
	background-color: #DFE3E6;
}
body {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 0.8em;
	line-height: 1.6em;
	width: 500px;
	margin-top: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 15px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	background-color: #FFFFFF;
}
h2 {
	font-size: 1.4em;
	color: #CC1C0D;
	font-weight: bold;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0.5em;
	margin-left: 0px;
}
h3 {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0.4em;
	margin-left: 0px;
}
header {
	height: 120px;
	text-align: center;
	padding-bottom: 1em;
}
p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 1em;
	margin-left: 0px;
}
h3, p {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
nav ul {
	text-align: center;
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 2em;
	padding-top: .5em;
	padding-bottom: .5em;
	padding-left: 0px;
	background-color: #DFE3E6;
}
nav ul li {
	display: inline;
	padding-right: 1.4em;
	position: relative;
}
nav ul li a {
	font-size: 1.1em;
	font-weight: bold;
	color: #CC1D0C;
	text-align: center;
	text-decoration: none;
}
nav ul li a:hover {
	color: #000000;
}
nav ul li ul {
	display: none;
	margin-top: 0px;
	padding-left: 0px;
	padding-top: 1em;
}
nav ul li ul li {
	padding-top: 0px;
}
nav ul li:hover ul {
	display: block;
	width: 120px;
	background-color: #DFE3E6;
	position: absolute;
	left: 0em;
	top: 1em;
}
nav ul li:hover ul li a {
	display: block;
}
footer {
	clear: left;
}
footer p {
	font-size: .9em;
	text-align: right;
	margin-bottom: 0px;
}
