body {
	font-size: 0.8em;
	line-height: 1.6em;
}
main {
	width: 700px;
	margin: 2em auto 0 auto;
}
aside {
	width: 200px;
	float: left;
	min-height: 200px;
	padding-top: 1em;
	padding-right: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
}
#middle {
	width: 400px;
	float: left;
	margin-left: 1em;
	padding-top: 1em;
}
