@charset "utf-8";
body {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	background-color: #DFE3E6;
}
h2 {
	font-size: 140%;
}
footer {
	text-align: center;
}
main {
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
	background-color: white;
}
nav a {
	margin-right: 30px;
	margin-left: 0px;
}
p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0em;
	margin-left: 0px;
}
