@charset "utf-8";
body {
	font: 90%;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}
label {
	color: #000080;
	float: left;
	width: 8em;
	font-weight: bold;
	text-align: right;
}
input {
	width: 15em;
	margin-left: 1em;
	margin-bottom: .5em;
}
input:focus {
	border: 2px solid #000080;
}
#register, #reset {
	width: 7em;
}
#register {
	margin-left: 10.5em;
}
