@charset "utf-8";
body {
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}
label {
	float: left;
	width: 5em;
	text-align: right;
}
input {
	margin-left: 1em;
	margin-bottom: .5em;
}
#email {
	width: 20em;
}