@charset "utf-8";
body {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #DFE3E6;
}
main {
	width: 700px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
	padding-left: 25px;
	background-color: white;
}
footer {
	text-align: center;
}
h2 {
	color: #1E5BAC;
	font-size: 160%;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
p {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0em;
	margin-left: 0px;
	line-height: 1.4em;
}
