@charset "utf-8";
body {
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}
h1 {
	font-size: 120%;
	margin-bottom: .7em;
}
label {
	float: left;
}
input {
	margin-bottom: 1em;
	margin-left: .5em;
}
#submit {
	margin-left: 0px;
}